.radioGroup {
  display: grid;
  gap: var(--spacing-sm);
}

.item {
  aspect-ratio: 1 / 1;
  height: 1rem;
  width: 1rem;
  border-radius: var(--radius-full);
  border: 1px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
  outline: none;
}

.item:focus-visible {
  outline: none;
  outline: 2px solid var(--ring);
  outline-offset: 2px;
}

.item:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 0.625rem;
  width: 0.625rem;
  fill: currentColor;
  color: currentColor;
}
