.slider {
  position: relative;
  display: flex;
  width: 100%;
  touch-action: none;
  user-select: none;
  align-items: center;
}

.track {
  position: relative;
  height: 0.5rem;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  border-radius: var(--radius-full);
  background-color: var(--secondary);
}

.range {
  position: absolute;
  height: 100%;
  background-color: var(--primary);
}

.thumb {
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: var(--radius-full);
  border: 2px solid var(--primary);
  background-color: var(--theme-background);
  transition: var(--transition-colors);
  cursor: grab;
  outline: none;
}

.thumb:focus-visible {
  outline: none;
  outline: 2px solid var(--ring);
  outline-offset: 2px;
}

.thumb:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.thumb:active {
  cursor: grabbing;
}
