.panelGroup {
  display: flex;
  height: 100%;
  width: 100%;
}

.panelGroup[data-panel-group-direction="vertical"] {
  flex-direction: column;
}

.handle {
  position: relative;
  display: flex;
  width: 1px;
  align-items: center;
  justify-content: center;
  background-color: var(--border);
}

.handle::after {
  position: absolute;
  inset-block: 0;
  left: 50%;
  width: 1px;
  transform: translateX(-50%);
}

.handle:focus-visible {
  outline: none;
  outline: 1px solid var(--ring);
  outline-offset: 1px;
}

.handle[data-panel-group-direction="vertical"] {
  height: 1px;
  width: 100%;
}

.handle[data-panel-group-direction="vertical"]::after {
  inset-inline: 0;
  top: 0;
  height: 1px;
  width: 100%;
  transform: translateY(-50%);
}

.handle[data-panel-group-direction="vertical"] > div {
  transform: rotate(90deg);
}

.handleIcon {
  z-index: 10;
  display: flex;
  height: 1rem;
  width: 0.75rem;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-sm);
  border: 1px solid var(--border);
  background-color: var(--border);
}

.gripIcon {
  height: 0.625rem;
  width: 0.625rem;
}
