.progress {
  position: relative;
  height: 1rem;
  width: 100%;
  overflow: hidden;
  border-radius: var(--radius-full);
  background-color: var(--secondary);
}

.indicator {
  height: 100%;
  width: 100%;
  flex: 1;
  background-color: var(--primary);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
