.label {
  font-size: var(--font-sm);
  font-weight: var(--font-medium);
  line-height: 1;
}

/* When label is associated with a disabled input/control */
.label:has(+ *:disabled),
.label:has(~ *:disabled) {
  cursor: not-allowed;
  opacity: 0.7;
}
