.item {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.error {
  color: var(--destructive);
}

.description {
  font-size: var(--font-sm);
  color: var(--muted-foreground);
}

.message {
  font-size: var(--font-sm);
  font-weight: var(--font-medium);
  color: var(--destructive);
}
